<form class="form-button" method="post" action="/bots/run/{{bot.id}}" id="runForm">
  <input class="code" type="hidden" name="code"></input>
  <input type="submit" value"Run" class="btn btn-success"></input>
</form>
