<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="http://cdn.smtcs.rocks/hl/monokai.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="http://cdn.smtcs.rocks/jq/2.js"></script>
    <script src="http://cdn.smtcs.rocks/hl/hl.js"></script>
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
