<h1>Create Bot</h1>

<form method="post">
  <div>
    <label>Bot Name</label>
    <input type="text" name="botName"></input>
  </div>
  <div>
    <input type="submit" value="Create Bot"></input>
  </div>
</form>
