<h1>Create Bot</h1>

<form method="post">
  <div class="form-group">
    <label for="bot">Bot Name</label>
    <input type="text" class="form-control" id="bot" name="botName" value="{{user.username}}"></input>
  </div>
  <div>
    <button type="submit" class="btn btn-default">Create Bot</button>
  </div>
</form>
