<h1>Editing id: {{id}} <a href="/b/d/{{id}}">Back</a></h1>

{{> editor value=code}}

<br />
<form name="save" method="post" id="saveForm">
  <input id="code" type="hidden" name="code"></input>
  <input type="submit" value="Save" class="btn btn-primary"></input>
</form>

<script>
  $('#saveForm').on('submit', function(ev) {
    ev.preventDefault();
    $('#code').val(editor.getValue());
    console.log($('#code').val())
    this.submit();
  });
</script>
