<h1>Editing id: {{id}} <a href="/bots/dashboard/{{id}}">Back</a></h1>

{{> editor value=code}}

<br />
<form class="form-button" method="post" id="saveForm">
  <input class="code" type="hidden" name="code"></input>
  <input type="submit" value="Save" class="btn btn-primary"></input>
</form>

<form class="form-button" method="post" action="/bots/run/{{id}}" id="runForm">
  <input class="code" type="hidden" name="code"></input>
  <input type="submit" value"Run" class="btn btn-success"></input>
</form>

<script>
  $('#saveForm').on('submit', function(ev) {
    ev.preventDefault();
    $('.code').val(editor.getValue());
    this.submit();
  });

  $('#runForm').on('submit', function(ev) {
    ev.preventDefault();
    $('.code').val(editor.getValue());
    this.submit();
  });
</script>
