<h1>Do bot stuff</h1>

{{#if bots}}
<table class="table">
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
  {{#each bots}}
    <tr>
      <td>{{name}}</td>
      <td><a href="/bots/{{id}}">{{id}}</a></td>
    </tr>
  {{/each}}
</table>
{{else}}
  <h2>Sorry, no bots in the DB</h2>
{{/if}}
